<template>
  <div>
    <div class="card" v-on:click="imageClick(image)" v-for="image in imagesData" :key="image.key">
      <div class="row">
        <div class="col-4">
          <div class="alert alert-warning p-1 m-1  float-left" role="alert">
          <img
            class="rounded"
            :src="`http://104.131.122.192:3001/display?op=thumbnail&w=100&h=150&path=${image.Id}/original/${image.Img_file_name}`"
            alt="Image"
          />
          </div>
        </div>
        <div class="col-8 mt-3">
          {{image.Name}} {{image.Age}}v
          {{image.City}}
          <div class="alert alert-warning p-1 m-1 text-danger h4" role="alert">
          ph:{{image.Phone}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SelectDefaultImg",
  data() {
    return {};
  },
  props: {
    imagesData: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  methods: {
    imageClick: function(event) {
      // event.preventDefault();

      this.$emit("clickFromSelectDefaultImg", event);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* .imginfo {

  margin: 10px;
} */
/* .px-2 {
  padding: ($spacer * .5) !important;
 
} */
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
